@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// === MIXIN ===
@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
    font-family: 'Quicksand', sans-serif;
}

// === / MIXIN ===

// === VARIABLES ===
$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-medium: 15px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$color-divider: #d8e3fe;

$transition: .2s;

$color-primary: #697ca6;
$color-secondary: #6188ff;
$color-h1-6: #3d4f9f;
// === / VARIABLES ===



// === COMMON ===
body {
    @include roboto;

    color: #8d96bd;
}


.section-outer {
    border-bottom: 1px solid $color-divider;
}

.section-inner {
    max-width: 900px;
    margin: 0 auto;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;

    &--wide {
        max-width: 1200px;
    }
}

.btn {
    @include quicksand;

    font-weight: $fw-bold;
    padding: $base*3 $base*4;
    margin: 0;
    font-size: $fs-sm;
    background-color: none;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: $transition;

    &--primary {
        background-color: #d2e1ff;
        color: #3a79ff;

        &:hover {
            background-color: darken(#d2e1ff, 5%);
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include quicksand;

    margin: 0;
    padding: 0;
    font-weight: $fw-regular;
    color: $color-h1-6;
}

h1,
h2 {
    margin-bottom: $base * 7;
    font-size: 48px;
}

h3 {
    margin-bottom: $base * 7;
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    @include roboto;

    font-size: 10px;
    margin-bottom: $base * 4;
}

.ta-c {
    text-align: center;
}

.dots {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        width: $base * 2;
        height: $base * 2;
        border-radius: 100%;
        background-color: #d1d6e3;
        transition: $transition;
        cursor: pointer;

        &--active {
            background-color: #5283ff;
        }

        &+& {
            margin-left: $base * 3;
        }
    }
}

.span-h2 {
    font-weight: $fw-medium;
}

// === / COMMON ===

// === HEADER ===
.section-header {
    .section-inner {
        padding-top: $padding-vertical-xs;
        padding-bottom: $padding-vertical-xs;
    }
}

.main-navigation {
    display: flex;
    align-items: center;
}

.nav-wrapper {
    display: flex;

}

.logo {
    background-color: #5e81fe;
    width: $base * 6;
    height: $base * 6;
    border-radius: 100%;
}

.nav {
    margin-left: $base * 18;
}

.nav-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        &+& {
            margin-left: $base * 10;
        }

        &-link {
            @include quicksand;

            font-size: $fs-sm;
            color: $color-primary;
            text-decoration: none;
            font-weight: $fw-medium;

            &:hover {
                color: $color-secondary;
                transition: $transition;
            }

            &--active {
                color: $color-secondary;
                font-weight: $fw-bold;
            }

        }
    }
}

.socials {
    margin-left: auto;
}

.socials-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;

    &__item {
        &+& {
            margin-left: $base * 9;
        }

        &-link {
            path {
                fill: $color-primary;
                transition: $transition;

                &:hover {
                    fill: $color-secondary;
                    // transition: $transition;
                }
            }



        }
    }
}

.btn-wrapper {
    margin-left: $base * 11;
}

// === / HEADER ===


// === HERO-IMAGE ===
.section-hero-image {
    position: relative;
    background-color: #f4f7ff;

    .dots {
        position: absolute;
        bottom: $base * 7;
        left: 50%;
        transform: translateX(-50%);
    }
}

.slider-hero-image {
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        height: $base * 140;
        text-align: center;
        background-position: 50% 70%;
        background-repeat: no-repeat;
        background-size: cover;

        &-content {
            h2 {
                font-weight: $fw-light;
            }

            .text {
                line-height: 2;
                width: 55%;
                margin: 0 auto $base*5;
                font-size: $fs-medium;
            }
        }

    }
}

.icon-play {
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 10px 50px rgba($color: #c9d1e7, $alpha: 0.6);
    display: inline-flex;
    height: $base * 13;
    justify-content: center;
    width: $base * 13;

    &::before {
        display: block;
        content: '';
        margin-left: $base*4;
        width: 0;
        height: 0;
        border-color: transparent;
        border-width: $base*2 $base*3;
        border-style: solid;
        border-left-color: #5e81ff;
    }
}


// === / HERO-IMAGE ===

// === CUSTOMERS ===
.section-customers {
    .section-inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: $padding-vertical-sm;
        padding-top: $padding-vertical-sm;

        a {
            opacity: 0.7;
            transition: $transition;

            &:hover {
                opacity: 1;
            }
        }
    }
}

// === / CUSTOMERS ===

// === PLAN-AND-IMAGE ===
.section-plan-and-manage {
    background-color: #f5f8ff;



    &__content {
        width: 50%;

        .text {
            line-height: 2;
            margin-bottom: $base * 12;
        }
    }

    &__img {
        position: relative;
        top: 0;
    }

}

// === / PLAN-AND-IMAGE ===

// === FEATURES ===
.section-features {}

// === / FEATURES ===

// === STATS ===
.section-stats {
    background-color: #e9efff;

    .section-inner {
        padding-bottom: $padding-vertical-sm;
        padding-top: $padding-vertical-sm;
    }
}

// === / STATS ===

// === BLOG ===
.section-blog {
    background-color: #f5f8ff;
}

// === / BLOG ===

// === QUOTES ===
.section-quotes {
    background-color: #eaf0ff;
}

// === / QUOTES ===

// === FAQ ===
.section-faq {}

// === / FAQ ===

// === GET-STARTED ===
.section-get-started {
    background-color: #567aff;
}

// === / GET-STARTED ===

// === NEWSLETTER ===
.section-newsletter {
    background-color: #fcfdff;
}

// === / NEWSLETTER ===

// === FOOTER ===
.section-footer {
    border-bottom: 0;

    .section-inner {
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-sm;
    }
}

.copyright {
    @include quicksand;

    font-size: $fs-sm;
    font-weight: $fw-medium;
    color: #aeb8d0;
    margin-left: $base * 24;
    margin-top: $base * 7;

}

// === / FOOTER ===